################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Epilog.MWC/.vs/Epilog.MWC
/Epilog.MWC/Epilog.Dictionary.Extractor.MWCollegiate/bin/Debug
/Epilog.MWC/Epilog.Dictionary.Extractor.MWCollegiate/obj
/Epilog.MWC/Epilog.Dictionary.Extractor.MWCollegiate.Tests/bin/Debug/netcoreapp2.2
/Epilog.MWC/Epilog.Dictionary.Extractor.MWCollegiate.Tests/obj
/Epilog.MWC/binaries/obj
/Epilog.MWC/binaries/Debug
